@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #dbdbdb;
} 
/* ----- Formatting lists in answer ----- */
#answerDiv ul {
  list-style-type: disc;
}
#answerDiv ol {
  list-style-type: decimal;
}
#answerDiv ul>li {
  margin-left: 30px;
}
#answerDiv ul>li:has(p) {
  margin-left: 30px;
  white-space-collapse: collapse ;
}
#answerDiv ul>li:has(p)>ul {
  margin-left: 30px;
  white-space-collapse: preserve-breaks ;
}
#answerDiv ol>li {
  position: relative;
  margin-left: 30px;
  white-space-collapse: collapse ;
} 
#answerDiv ol>li:has(p)>ul {
  margin-left: 30px;
  white-space-collapse: preserve-breaks ;
}
/* -------------------------------------- */